# 保存先
# - リポジトリ配下に置くなら ./novel
# - Windows の絶対パスなら C:/narou/novel のように / 区切り推奨
HOST_NOVEL_PATH=./novel

# 公開ポート
# - 2つ連続したポートを指定してください
# - 先頭が Web UI、次が websocket 用です
HOST_PORT_RANGE=33000-33001

# ビルド時に取得するバージョン
NAROU_MOD_VERSION=2.0.3-646d9ad
AOZORAEPUB3_VERSION=latest
